#root {
  max-width: 1280px;
  margin: 0 auto;
  
}

.card {
  padding: 1.5rem;
  text-align: center;
}

.navbar{

  height: 4rem;
  width: 100%;
  overflow: auto;
  position: relative;

  /*border: solid 1px red;*/
}

.nav-btn{
  font-weight: bolder;
  text-transform:uppercase;
  height: 1.8rem;
  text-align: left;
  position: absolute;
  line-height: .1rem;
  bottom: 0;
  border-radius: .5rem;
  margin: 0rem 0rem .5rem;
}

.plus{
  position: fixed;
  padding: 0.7rem;
  bottom: 1.5vh;
  left: 1.5vh;
  z-index: 50;
  border-radius: 3rem ;
  height: 5rem;
  width: 5rem;
  font-size: 2.8rem;
  text-align: center;
  background-color:#868686;
  box-shadow: 6px -5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 6px -5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 6px -5px 5px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.1s ease;
}
.plus:hover{
  background-color: #505050;
  transform: scale(1.1);
  font-size: 3.1rem;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px dotted #767676;
}
.plus:active {
  background-color: #767676;
}


.nav-btn.object {
  padding: 0.2rem;
  padding-left: .4rem;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 7rem;
  height: 2.5rem;
}

.nav-btn.object.selected{
  border: solid 2px #ffffff;
  height: 3rem;
}

.nav-btn.object.selected:hover {
  border: solid 3px #ffffff;
}

.nav-btn.object:hover{
  border: solid 1px #ffffff;
}

h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  margin-left: 0;
  font-size: clamp(1rem, 8vw, 3rem);
  /* Mínimo: 1rem, ideal: 8vw, máximo: 3rem */
}

.notes-container{
  height:73vh;
  width: 90%;
  padding: 5%;
  background-color: #151515;
  border-radius: .3rem;
}

.images-container {
  margin-top: 1rem;
    height: 25vh;
    border-radius: 0.3rem;
    border: 3px dashed #767676;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}

video {
  width: 100%;
  height: auto;
  max-width: 600px;
  /* Ajusta según sea necesario */
  border: 2px solid black;
}

.images-container .text {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  letter-spacing: .2rem;
  font-weight: 600;
  color: #868686;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  max-width: 6rem;
  max-height: 6rem;
  object-fit: contain;
  display: inline-block;
  
}
.image-info {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
  background: rgba(0, 0, 0, 0.153);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #767676;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
transition: transform 0.1s ease, background-color 0.1s ease, box-shadow 0.1s ease;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #505050;
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.prev-btn {
  left: -1rem;
}

.next-btn {
  right: -1rem;
}

.notes-header{
  height: 2.5rem;
  position: relative;
  border-bottom: solid 2px rgb(134, 134, 134);
}

.subtitle{
  letter-spacing: 0.15rem;
  font-style: italic;
  font-size: 1.2rem;
  float: left;
  background-color: transparent;
  width: 65%;
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  /*border: 1px solid red;*/
  border: 0px;
}
.subtitle:focus{
  outline: none
}

.trash-Btn{
  background-color:transparent;
  border-radius: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem 0.1rem 0.5rem;
  float: right;
  background-color: transparent;
  transition: transform 0.1s ease, font-size 0.1s ease, background-color 0.3s ease;
}
.trash-Btn:hover {
  transform: rotate(-45deg);
  background-color: #dc1818;
  border-color: #dc1818;
}

.trash-Btn.image{
  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
}

.trash-Btn.header{
  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
}


.color-input{
  border: 0px;
  border-radius: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  bottom: 4px;
  right: 4rem;
}

.note-body{
  height: 40vh;
  border-radius: 0rem 0rem .5rem .5rem;
  position: relative;
}

.upper-body {
  width: 99%;
  background-color: #202020;
  overflow: scroll;
  border-radius: 0rem 0rem .5rem .5rem;
}
.upper-body:focus {
  outline: none
}

.lower-body{
  position: absolute;
  bottom: 0;
  right: 0;
}

.lower-body .btn {
  margin-right: 1rem;
  border: solid 1px #868686;
}

.save{
  background-color: #868686;
  color: #151515;
  font-weight: 900;
  width: 4rem;
}

.btn:hover{
  border: solid 1px rgb(202, 202, 202);
}

.custom-file-upload{
  padding: 0.7rem 1.2rem;
  background-color: #1a1a1a;
  border-radius: .5rem;
}